# ðŸ”¬ Beijing Air Quality
## ðŸ“˜ Notebook 02 â€“ Data Cleaning

| Field         | Description                                        |
|:--------------|:---------------------------------------------------|
| Author:       |	Robert Steven Elliott                            |
| Course:       |	Code Institute â€“ Data Analytics with AI Bootcamp |
| Project Type: |	Capstone                                         |
| Date:         |	December 2025                                    |

## Objectives
- Load the combined dataset (combined_stations.csv) produced in Notebook 01.
- Perform essential data cleaning tasks, including:
    -Handling missing or null values
    Standardising column names and data types
    Ensuring timestamp components form a valid datetime index
    Removing duplicated rows
    Identifying and correcting impossible or invalid sensor values
Produce a fully cleaned dataset suitable for feature engineering and exploratory analysis.
Save the cleaned dataset into the data/cleaned/ directory in a standardised format.

## Inputs
Combined dataset file: `data/combined/combined_stations.csv`

## Outputs
- Fully cleaned dataframe with consistent column types and no structural issues.
- Exported cleaned CSV: `data/cleaned/beijing_cleaned.csv`
- Updated summary on missing values, duplicates, and data integrity checks.
- Intermediate plots or tables showing before/after cleaning effects
- Cleaning log notes for metadata
- Prepared input for Notebook 03 â€“ Feature Engineering.

## Additional Comments
- No feature engineering is performed in this notebookâ€”only essential cleaning steps to preserve data integrity.
- Any row loss due to missing timestamps or lag-introducing steps should be recorded for transparency in metadata.
- Manual cleaning decisions (e.g., acceptable pollutant value ranges) should be justified according to domain knowledge or cleaning plan.
- This notebook lays the foundation for reliable modelling and should be kept reproducible and well-documented.

## Citation  
This project uses data from:

**Chen, Song (2017). _Beijing Multi-Site Air Quality_. UCI Machine Learning Repository.**  
DOI: https://doi.org/10.24432/C5RK5G  
Mirrored on Kaggle by Manu Siddhartha (CC BY 4.0 Licence).

## Import Required Libraries

In this section we import all necessary Python libraries:

- `pathlib` â€“ handles directory paths in a platform-independent way   
- `pandas` â€“ the main library for loading and manipulating dataframes

In [8]:
from pathlib import Path # Path is needed to handle file paths
import pandas as pd # pandas is needed for data manipulation

## Set Up Paths

In [9]:
project_root = Path.cwd().parent # Assuming the notebook is in a subfolder of the project root
data_path = project_root / "data" # data folder path
input_path = data_path / "combined" / "combined_stations.csv" # input file path
output_path = data_path / "cleaned" / "beijing_cleaned.csv" # output file path

## Load Combined Station CSV file

In [10]:
df = pd.read_csv(input_path)
df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,14.0,20.0,300.0,69.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,guanyuan
1,2,2013,3,1,1,4.0,4.0,13.0,17.0,300.0,72.0,-1.1,1023.2,-18.2,0.0,N,4.7,guanyuan
2,3,2013,3,1,2,3.0,3.0,10.0,19.0,300.0,69.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,guanyuan
3,4,2013,3,1,3,3.0,6.0,7.0,24.0,400.0,62.0,-1.4,1024.5,-19.4,0.0,NW,3.1,guanyuan
4,5,2013,3,1,4,3.0,6.0,5.0,14.0,400.0,71.0,-2.0,1025.2,-19.5,0.0,N,2.0,guanyuan

## Standardise Column Names

In [11]:
df.columns = df.columns.str.strip().str.lower() # Standardize column names
df.head()

,no,year,month,day,hour,pm2.5,pm10,so2,no2,co,o3,temp,pres,dewp,rain,wd,wspm,station
0,1,2013,3,1,0,4.0,4.0,14.0,20.0,300.0,69.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,guanyuan
1,2,2013,3,1,1,4.0,4.0,13.0,17.0,300.0,72.0,-1.1,1023.2,-18.2,0.0,N,4.7,guanyuan
2,3,2013,3,1,2,3.0,3.0,10.0,19.0,300.0,69.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,guanyuan
3,4,2013,3,1,3,3.0,6.0,7.0,24.0,400.0,62.0,-1.4,1024.5,-19.4,0.0,NW,3.1,guanyuan
4,5,2013,3,1,4,3.0,6.0,5.0,14.0,400.0,71.0,-2.0,1025.2,-19.5,0.0,N,2.0,guanyuan

## Encode categoricols

In [12]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420768 entries, 0 to 420767
Data columns (total 18 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   no       420768 non-null  int64
 1   year     420768 non-null  int64
 2   month    420768 non-null  int64
 3   day      420768 non-null  int64
 4   hour     420768 non-null  int64
 5   pm2.5    412029 non-null  float64
 6   pm10     414319 non-null  float64
 7   so2      411747 non-null  float64
 8   no2      408652 non-null  float64
 9   co       400067 non-null  float64
 10  o3       407491 non-null  float64
 11  temp     420370 non-null  float64
 12  pres     420375 non-null  float64
 13  dewp     420365 non-null  float64
 14  rain     420378 non-null  float64
 15  wd       418946 non-null  category
 16  wspm     420450 non-null  float64
 17  station  420768 non-null  category
dtypes: category(2), float64(11), int64(5)
memory usage: 52.2 MB

## Datetime Parsing

In [ ]:
df['datetime'] = pd.to_datetime(df[['year','month','day','hour']]) # Create datetime column
df = df.sort_values('datetime') # Sort by datetime
df = df.set_index("datetime") # Set datetime as index
df.info() # Check the dataframe info again

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 420768 entries, 2013-03-01 00:00:00 to 2017-02-28 23:00:00
Data columns (total 18 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   no       420768 non-null  int64
 1   year     420768 non-null  int64
 2   month    420768 non-null  int64
 3   day      420768 non-null  int64
 4   hour     420768 non-null  int64
 5   pm2.5    412029 non-null  float64
 6   pm10     414319 non-null  float64
 7   so2      411747 non-null  float64
 8   no2      408652 non-null  float64
 9   co       400067 non-null  float64
 10  o3       407491 non-null  float64
 11  temp     420370 non-null  float64
 12  pres     420375 non-null  float64
 13  dewp     420365 non-null  float64
 14  rain     420378 non-null  float64
 15  wd       418946 non-null  category
 16  wspm     420450 non-null  float64
 17  station  420768 non-null  category
dtypes: category(2), float64(11), int64(5)
memory usage: 55.4 MB

## Missing Data Handling

In [ ]:
df.isna().sum() # Check for missing values

no             0
year           0
month          0
day            0
hour           0
pm2.5       8739
pm10        6449
so2         9021
no2        12116
co         20701
o3         13277
temp         398
pres         393
dewp         403
rain         390
wd          1822
wspm         318
station        0
dtype: int64