# ðŸ”¬ Beijing Air Quality
## ðŸ“˜ Notebook number - title

| Field         | Description                                        |
|:--------------|:---------------------------------------------------|
| Author:       |	Robert Steven Elliott                            |
| Course:       |	Code Institute â€“ Data Analytics with AI Bootcamp |
| Project Type: |	Capstone                                         |
| Date:         |	December 2025                                    |

This project complies with the CC BY 4.0 licence by including proper attribution.

## Objectives

> Objectives for notebook go here

## Inputs

> Input for notebooks go here

## Outputs

> Outputs created from note book go here

## Citation  
This project uses data from:

Chen, Song (2017). *Beijing Multi-Site Air Quality.*  
UCI Machine Learning Repository â€” Licensed under **CC BY 4.0**.  
DOI: https://doi.org/10.24432/C5RK5G  
Kaggle mirror by Manu Siddhartha.

---

## Hypothesis Introduction

> Hypothesis Introduction Goes Here

$$
\begin{aligned}
H_0 &: \text{Null Hypothesis} \\
H_1 &: \text{Hypothesis}
\end{aligned}
$$

### Purpose of This Notebook

> Purpose of Notebook goes here

## Notebook Setup

### Import Required Libraries

(The following libraries support analysis, plotting, and data manipulation.)

In [1]:
import sys # system-level operations
import pandas as pd # data manipulation
import numpy as np # numerical operations
import matplotlib.pyplot as plt # plotting
import seaborn as sns # statistical data visualization
import plotly.express as px # interactive plotting

import pingouin as pg # statistical analysis
from statsmodels.tsa.seasonal import seasonal_decompose # time series decomposition
from pathlib import Path # filesystem paths

### Configure Visual Settings

In [2]:

plt.style.use("seaborn-v0_8") # set matplotlib style
sns.set_theme() # set seaborn theme

### Set Up Project Paths

In [ ]:
PROJECT_ROOT = Path.cwd().parent # Assuming this script is in a subdirectory of the project root
DATA_PATH = PROJECT_ROOT / "data" # Path to the data directory

sys.path.append(str(PROJECT_ROOT)) # Add project root to sys.path

FIGURES_PATH = PROJECT_ROOT / "figures" / "h2" # Path to save figures
FIGURES_PATH.mkdir(parents=True, exist_ok=True) # Create directory if it doesn't exist
INPUT_PATH = DATA_PATH / "cleaned" / "beijing_cleaned.parquet" # input file path
print("Input path :", INPUT_PATH) # Print input path

Input path : /home/robert/Projects/beijing-air-quality/data/cleaned/beijing_cleaned.parquet

### Load Dataset

In [4]:
df = pd.read_parquet(INPUT_PATH) # Load cleaned data
df.head() # Display first few rows of the dataframe

,datetime,year,month,day,hour,pm25,temperature,pressure,dew_point,rain,wind_direction,wind_speed,station,latitude,longitude,area_type,season
0,2013-03-01,2013,3,1,0,4.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,guanyuan,39.941746,116.361478,urban,spring
1,2013-03-01,2013,3,1,0,3.0,-2.3,1020.8,-19.7,0.0,E,0.5,changping,40.220772,116.231204,suburban,spring
2,2013-03-01,2013,3,1,0,6.0,0.1,1021.1,-18.6,0.0,NW,4.4,gucheng,39.908156,116.239596,residential,spring
3,2013-03-01,2013,3,1,0,8.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,wanliu,39.990376,116.287252,residential,spring
4,2013-03-01,2013,3,1,0,4.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,aotizhongxin,40.003388,116.407613,urban,spring

## Data Overview Analysis

(Understanding structure, completeness, and variable types.)

### Structure + Missing Values

In [6]:
print("Dataframe Info:") # Display dataframe info
display(df.info()) # Display dataframe info
print("\nDataframe Shape:") # Display dataframe shape
display(df.shape) # Display dataframe shape
print("\nMissing Values:") # Check for missing values
display(df.isna().sum()) # Check for missing values

Dataframe Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403776 entries, 0 to 403775
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   datetime        403776 non-null  datetime64[ns]
 1   year            403776 non-null  int64
 2   month           403776 non-null  int64
 3   day             403776 non-null  int64
 4   hour            403776 non-null  int64
 5   pm25            403776 non-null  float64
 6   temperature     403776 non-null  float64
 7   pressure        403776 non-null  float64
 8   dew_point       403776 non-null  float64
 9   rain            403776 non-null  float64
 10  wind_direction  403776 non-null  category
 11  wind_speed      403776 non-null  float64
 12  station         403776 non-null  category
 13  latitude        403776 non-null  float64
 14  longitude       403776 non-null  float64
 15  area_type       403776 non-null  category
 16  season          403776 non-null  category
dtypes: category(4), datetime64[ns](1), float64(8), int64(4)
memory usage: 41.6 MB

None

Dataframe Shape:

(403776, 17)

Missing Values:

datetime          0
year              0
month             0
day               0
hour              0
pm25              0
temperature       0
pressure          0
dew_point         0
rain              0
wind_direction    0
wind_speed        0
station           0
latitude          0
longitude         0
area_type         0
season            0
dtype: int64

## Section

### Possible Subsection

#### Observations

> Observations from chart 

#### Justification

> Justification goes here

## Summary â€“ hypothesis title goes here

> summarise findings

---

### AI Assistance Note

Some narrative text and minor formatting or wording improvements in this notebook were supported by AI-assisted tools (ChatGPT for documentation clarity, Copilot for small routine code suggestions, and Grammarly for proofreading). All analysis, code logic, feature engineering, modelling, and interpretations were independently created by the author.