# ðŸ”¬ Beijing Air Quality
## ðŸ“˜ Notebook number - title

| Field         | Description                                        |
|:--------------|:---------------------------------------------------|
| Author:       |	Robert Steven Elliott                            |
| Course:       |	Code Institute â€“ Data Analytics with AI Bootcamp |
| Project Type: |	Capstone                                         |
| Date:         |	December 2025                                    |

This project complies with the CC BY 4.0 licence by including proper attribution.

## Objectives

> Objectives for notebook go here

## Inputs

> Input for notebooks go here

## Outputs

> Outputs created from note book go here

## Citation  
This project uses data from:

Chen, Song (2017). *Beijing Multi-Site Air Quality.*  
UCI Machine Learning Repository â€” Licensed under **CC BY 4.0**.  
DOI: https://doi.org/10.24432/C5RK5G  
Kaggle mirror by Manu Siddhartha.

---

## Hypothesis Introduction

> Hypothesis Introduction Goes Here

$$
\begin{aligned}
H_0 &: \text{Null Hypothesis} \\
H_1 &: \text{Hypothesis}
\end{aligned}
$$

### Purpose of This Notebook

> Purpose of Notebook goes here

## Notebook Setup

### Import Required Libraries

We import the necessary Python tools for data cleaning:

- `pathlib` â€“ to handle file paths
- `pandas` â€“ to manipulate tabular data
- `matplotlib` â€“ for plotting
- `numpy` â€“ numeric operations 
- `seaborn` - enhanced data visualisation
- `plotly.express` - interactive plots

In [1]:
import sys # system-level operations
import pandas as pd # data manipulation
import numpy as np # numerical operations
import matplotlib.pyplot as plt # plotting
import seaborn as sns # statistical data visualization
import plotly.express as px # interactive plotting

import pingouin as pg # statistical analysis
from statsmodels.tsa.seasonal import seasonal_decompose # time series decomposition
from pathlib import Path # filesystem paths

setup matplotlib and seaborn themes

In [2]:

plt.style.use("seaborn-v0_8") # set matplotlib style
sns.set_theme() # set seaborn theme

### Set Up Project Paths

We define paths for input datasets to ensure the notebook is portable and reproducible.

In [3]:
project_root = Path.cwd().parent # Assuming this script is in a subdirectory of the project root
data_path = project_root / "data" # Path to the data directory

sys.path.append(str(project_root)) # Add project root to sys.path

input_path = data_path / "engineered" / "beijing_feature_engineered.parquet" # input file path
print("Input path :", input_path) # Print input path

Input path : /home/robert/Projects/beijing-air-quality/data/engineered/beijing_feature_engineered.parquet

### Load Dataset

Load the feature engineered dataset created in Notebook 04.

In [4]:
df = pd.read_parquet(input_path) # Load cleaned data
df.head() # Display first few rows of the dataframe

,datetime,pm2.5,temp,pres,dewp,rain,wd,wspm,station,latitude,...,pm2.5_lag_6h,pm2.5_lag_12h,pm2.5_lag_24h,pm2.5_roll_3h_mean,pm2.5_roll_6h_mean,pm2.5_roll_12h_mean,pm2.5_roll_24h_mean,dewpoint_spread,temp_pres_interaction,rain_binary
0,2013-03-01 00:00:00,4.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,aotizhongxin,40.003388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.1,-716.10,0
1,2013-03-01 01:00:00,8.0,-1.1,1023.2,-18.2,0.0,N,4.7,aotizhongxin,40.003388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,-1125.52,0
2,2013-03-01 02:00:00,7.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,aotizhongxin,40.003388,...,NaN,NaN,NaN,6.333333,NaN,NaN,NaN,17.1,-1125.85,0
3,2013-03-01 03:00:00,6.0,-1.4,1024.5,-19.4,0.0,NW,3.1,aotizhongxin,40.003388,...,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,18.0,-1434.30,0
4,2013-03-01 04:00:00,3.0,-2.0,1025.2,-19.5,0.0,N,2.0,aotizhongxin,40.003388,...,NaN,NaN,NaN,5.333333,NaN,NaN,NaN,17.5,-2050.40,0

## Basic Descriptive Statistics

### Datatypes & Missing Values

In [5]:
df.info() # Display dataframe info
df.isna().sum() # Check for missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403776 entries, 0 to 403775
Data columns (total 34 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   datetime               403776 non-null  datetime64[ns]
 1   pm2.5                  403776 non-null  float64
 2   temp                   403776 non-null  float64
 3   pres                   403776 non-null  float64
 4   dewp                   403776 non-null  float64
 5   rain                   403776 non-null  float64
 6   wd                     403776 non-null  category
 7   wspm                   403776 non-null  float64
 8   station                403776 non-null  category
 9   latitude               403776 non-null  float64
 10  longitude              403776 non-null  float64
 11  area_type              403776 non-null  category
 12  year                   403776 non-null  int32
 13  month                  403776 non-null  int32
 14  day                    403776 non-null  int32
 15  hour                   403776 non-null  int32
 16  dayofweek              403776 non-null  int32
 17  season                 403776 non-null  category
 18  hour_sin               403776 non-null  float64
 19  hour_cos               403776 non-null  float64
 20  month_sin              403776 non-null  float64
 21  month_cos              403776 non-null  float64
 22  pm2.5_lag_1h           403764 non-null  float64
 23  pm2.5_lag_3h           403740 non-null  float64
 24  pm2.5_lag_6h           403704 non-null  float64
 25  pm2.5_lag_12h          403632 non-null  float64
 26  pm2.5_lag_24h          403488 non-null  float64
 27  pm2.5_roll_3h_mean     403752 non-null  float64
 28  pm2.5_roll_6h_mean     403716 non-null  float64
 29  pm2.5_roll_12h_mean    403644 non-null  float64
 30  pm2.5_roll_24h_mean    403500 non-null  float64
 31  dewpoint_spread        403776 non-null  float64
 32  temp_pres_interaction  403776 non-null  float64
 33  rain_binary            403776 non-null  int64
dtypes: category(4), datetime64[ns](1), float64(23), int32(5), int64(1)
memory usage: 86.3 MB

datetime                   0
pm2.5                      0
temp                       0
pres                       0
dewp                       0
rain                       0
wd                         0
wspm                       0
station                    0
latitude                   0
longitude                  0
area_type                  0
year                       0
month                      0
day                        0
hour                       0
dayofweek                  0
season                     0
hour_sin                   0
hour_cos                   0
month_sin                  0
month_cos                  0
pm2.5_lag_1h              12
pm2.5_lag_3h              36
pm2.5_lag_6h              72
pm2.5_lag_12h            144
pm2.5_lag_24h            288
pm2.5_roll_3h_mean        24
pm2.5_roll_6h_mean        60
pm2.5_roll_12h_mean      132
pm2.5_roll_24h_mean      276
dewpoint_spread            0
temp_pres_interaction      0
rain_binary                0
dtype: int64

## Section

### Possible Subsection

#### Observations

> Observations from chart 

#### Justification

> Justification goes here

## Summary â€“ hypothesis title goes here

> summarise findings